/app/bootstrap.php.cache
/app/cache/
/app/AppKernel.php
/app/SymfonyRequirements.php
/app/Resources/views/base.mail.html.twig
/app/check.php
composer.json
composer.lock
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/web/borraCache.php
.idea/*