<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no"/>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://staticmx.unoi.com/global/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="https://staticmx.unoi.com/global/css/plugins.css" type="text/css">
        <link rel="stylesheet" href="https://staticmx.unoi.com/global/css/main.css" type="text/css">
        <link rel="stylesheet" href="https://staticmx.unoi.com/global/css/themes/modern.css" type="text/css">
    {% endblock %}

</head>
<body style="background-color: #FFFFFF;">
<div id="page-content">
    <div class="row">
    </div>
    <div class="row">
        <div class="widget">
            <div class="widget-advanced">
                <div class="widget-header text-center themed-background-dark">
                    <h3 class="widget-content-light">
                        <a href="#">Plataforma de Diagnóstico Institucional</a><br>
                        <small>UNO Internacional</small>
                    </h3>
                </div>
                <div class="widget-main">
                    <a href="javascript:void(0)" class="widget-image-container animation-fadeIn">
                        <span class="widget-icon themed-background"><img src="{{ absolute_url(asset('public/assets/images/login/logoUno.png'))}}" style="width: 60%; margin-bottom: 2px;"/></span>
                    </a>
                    <hr>
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>