<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no"/>

    {% block stylesheets %}
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,100,400,600" rel="stylesheet" type="text/css">
        <link href="{{ asset('public/assets/css/mail.css') }}" rel="stylesheet" type="text/css">
    {% endblock %}

</head>

<body style="font-size:12px; font-family:Open Sans, Arial,Tahoma, Helvetica, sans-serif; background-color:#ededed; ">

<!--start 100% wrapper (white background) -->
<table width="100%" id="mainStructure" border="0" cellspacing="0" cellpadding="0" style="background-color:#ededed;">

    <!-- START VIEW HEADER -->
    <tr>
        <td align="center" valign="top" style="background-color: #59AAC2; ">
            <!-- start container 600 -->
            <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" bgcolor="#59AAC2" style="background-color: #59AAC2; ">
                <tr>
                    <td valign="top">

                        <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" bgcolor="#59AAC2" style="background-color: #59AAC2; ">
                            <!-- start space -->
                            <tr>
                                <td valign="top" height="10">
                                </td>
                            </tr>
                            <!-- end space -->
                            <tr>
                                <td valign="top">
                                    <!-- start container -->
                                    <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td valign="top">
                                                <!-- start view online -->
                                                <table align="left" border="0" cellspacing="0" cellpadding="0" class="container2">
                                                    <tr>
                                                        <td>
                                                            <table align="center" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td>
                                                                        <a href=""><img src="{{ absolute_url(asset('public/assets/images/login/logoUno.png')) }}" style="width:25%; margin-left: 5%;"/> </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <h3 style="color: #FFFFFF;">Plataforma de Diagnóstico Institucional</h3>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <!-- start space -->
                                                    <tr>
                                                        <td valign="top" class="increase-Height">
                                                        </td>
                                                    </tr>
                                                    <!-- end space -->
                                                </table>
                                                <!-- end view online -->
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- end container  -->
                                </td>
                            </tr>
                            <!-- start space -->
                            <tr>
                                <td valign="top" height="10">
                                </td>
                            </tr>
                            <!-- end space -->

                            <!-- start space -->
                            <tr>
                                <td valign="top" class="increase-Height">
                                </td>
                            </tr>
                            <!-- end space -->

                        </table>
                        <!-- end container 600-->
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <!-- END VIEW HEADER -->


    <!--START TOP NAVIGATION ​LAYOUT-->
    <tr>
        <td valign="top">
            <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
                <!-- START CONTAINER NAVIGATION -->
                <tr>
                    <td height="30">

                    </td>
                </tr>
                <!-- END CONTAINER NAVIGATION -->
            </table>
        </td>
    </tr>
    <!--END TOP NAVIGATION ​LAYOUT-->


    <!-- START HEIGHT SPACE 20PX LAYOUT-1 -->
    <tr>
        <td valign="top" align="center" class="fix-box">
            <table width="600" height="20" align="center" border="0" cellspacing="0" cellpadding="0"
                   style="background-color: #ffffff; border-top-left-radius: 4px; border-top-right-radius: 4px;"
                   class="full-width">
                <tr>
                    <td valign="top" height="20">
                </tr>
            </table>
        </td>
    </tr>
    <!-- END HEIGHT SPACE 20PX LAYOUT-1-->


    <!-- START EMAIL CONTENT -->

    <tr>
        <td align="center" valign="top"  class="fix-box">
            <!-- start container width 600px -->
            <table width="600"  align="center" border="0" cellspacing="0" cellpadding="0" class="container" bgcolor="#ffffff" style="background-color: #ffffff; border-top-left-radius: 4px; border-top-right-radius: 4px;">
                <tr>
                    <td valign="top">
                        <!-- start container width 560px -->
                        <table width="560"  align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" bgcolor="#ffffff" style="background-color:#ffffff;">
                            <!-- start image content -->
                            <tr>
                                <td valign="top" width="100%">
                                    <!-- start content left -->
                                    <table width="270" border="0" cellspacing="0" cellpadding="0" align="center" class="full-width"  >
                                        <!-- start text content -->
                                        <tr>
                                            <td valign="top">
                                                <table border="0" cellspacing="0" cellpadding="0" align="center" >
                                                    <tr>
                                                        <td  style="font-size: 14px; line-height: 22px; font-family:Open Sans, Arial,Tahoma, Helvetica, sans-serif; color:#555555; font-weight:300; text-align:justify;">
                                                            {% block body %}
                                                            {% endblock %}
                                                        </td>
                                                    </tr>
                                                    <!--start space height -->
                                                    <tr>
                                                        <td height="20" ></td>
                                                    </tr>
                                                    <!--end space height -->
                                                </table>
                                            </td>
                                        </tr>
                                        <!-- end text content -->
                                    </table>
                                    <!-- end content left -->
                                </td>
                            </tr>
                            <!-- end image content -->
                        </table>
                        <!-- end container width 560px -->
                    </td>
                </tr>
            </table>
            <!-- end  container width 600px -->
        </td>
    </tr>

    <!-- START NOTIFICATION/ACTIVITY CONTENT-->


    <!-- END EMAIL CONTENT -->


    <!--START FOOTER LAYOUT-->
    <tr>
        <td valign="top">
            <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
                <!-- START CONTAINER  -->
                <tr>
                    <td align="center" valign="top">
                        <!-- start footer container -->
                        <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container">
                            <tr>
                                <td valign="top">
                                    <!-- start footer -->
                                    <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width">
                                        <!-- start space -->
                                        <tr>
                                            <td valign="top" height="20">
                                            </td>
                                        </tr>
                                        <!-- end space -->
                                        <tr>
                                            <td valign="middle">
                                                <table align="center" border="0" cellspacing="0" cellpadding="0" class="container2">
                                                    <tr>
                                                        <td align="center" valign="top"
                                                            style="font-size: 11px;  line-height: 18px; font-weight:300; text-align: center; font-family:Open Sans,Arail,Tahoma, Helvetica, Arial, sans-serif;">
                                                                <span style="text-decoration: none; color: #a3a2a2;"><a href="//mx.unoi.com" style="text-decoration: none; color: #a3a2a2;">UNO Internacional &reg;</a> </span>
                                                            <br/>
                                                            <h3 class="aviso"><strong>Aviso Legal</strong></h3>
                                                            <p class="aviso" style="text-align: justify;">
                                                                {{ "Este correo electrónico, así como los archivos adjuntos que contenga, es confidencial de conformidad con las leyes aplicables, y es para uso exclusivo del destinatario al que expresamente se le ha enviado. Si usted no es el destinatario legítimo del mismo, deberá reportarlo al remitente del correo y borrarlo inmediatamente. Cualquier revisión, retransmisión, divulgación, difusión o cualquier otro uso de este correo, por personas o entidades distintas a las del destinatario legítimo, queda expresamente prohibido. Los derechos de propiedad respecto de la información, material, documentos electrónicos, bases de datos, diseños, y los distintos elementos en él contenidos, son titularidad de alguna de las empresas de Grupo Santillana en México. Este correo electrónico, no pretende ni debe ser considerado como constitutivo de ninguna relación legal, contractual o de otra índole similar." }}
                                                            </p>
                                                        </td>

                                                    </tr>

                                                    <!-- start space -->
                                                    <tr>
                                                        <td valign="top" class="increase-Height-20">
                                                        </td>
                                                    </tr>
                                                    <!-- end space -->
                                                </table>
                                            </td>
                                        </tr>

                                        <!-- start space -->
                                        <tr>
                                            <td valign="top" height="20">
                                            </td>
                                        </tr>
                                        <!-- end space -->
                                    </table>
                                    <!-- end footer -->
                                </td>
                            </tr>
                        </table>
                        <!-- end footer container -->
                    </td>
                </tr>

                <!-- END CONTAINER  -->

            </table>
        </td>
    </tr>
    <!--END FOOTER ​LAYOUT-->

</table>
</body>
</html>