{% extends '::base.html.twig' %}
{% block body %}
    <div id="page-content">
        <div class="content-header">
            <div class="header-section">
                <h1>
                    <i class="fa fa-list-ul" style="color: #CCC;"></i><b>Crear</b> evaluación
                </h1>
                <br>
                <p>
                    <i class="fa fa-info-circle"></i> <em>Sigue estos 3 sencillos pasos para crear una nueva evaluación</em>
                </p>
            </div>
        </div>
        <!-- Wizard with Validation Block -->
        <div class="block">
            <!-- Wizard with Validation Content -->
            <form id="advanced-wizard" action="{{ path('save') }}" method="post" class="form-horizontal form-bordered">
                <!-- First Step -->
                <div id="advanced-first" class="step">
                    <!-- Step Info -->

                    <div class="wizard-steps">
                        <div class="row">
                            <div class="col-xs-4 active">
                                <span>1.Evaluación</span>
                            </div>
                            <div class="col-xs-4">
                                <span>2.Perfiles</span>
                            </div>
                            <div class="col-xs-4">
                                <span>3.Preguntas</span>
                            </div>
                        </div>
                    </div>
                    <!-- END Step Info -->
                    <div class="block">
                        <div class="block-title themed-background">
                            <h4 style="color: #ffffff;"><strong>Agrega los datos de la nueva evaluación</strong></h4>
                        </div>
                        <div class="row">
                            <div class="block-content">
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="eval[title]">Título <span class="text-danger">*</span></label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <input type="text" id="eval[title]" name="eval[title]" class="form-control" placeholder="Título de la nueva evaluación ..." required>
                                            <span class="input-group-addon"><i class="fa fa-info-circle"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="eval[description]">Descripción</label>
                                    <div class="col-md-6">
                                        <textarea id="eval[description]" name="eval[description]" rows="6" class="form-control" placeholder="Ingresa una descripción o instrucciones para esta evaluación ..."></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="eval[closingdate]">Fecha de cierre</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <input id="eval[closingdate]" name="eval[closingdate]" class="form-control input-datepicker-close" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd" type="text">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- END First Step -->

                <!-- Second Step -->
                <div id="advanced-second" class="step">
                    <!-- Step Info -->
                    <div class="wizard-steps">
                        <div class="row">
                            <div class="col-xs-4 done">
                                <span>1.Evaluación</span>
                            </div>
                            <div class="col-xs-4 active">
                                <span>2.Perfiles</span>
                            </div>
                            <div class="col-xs-4">
                                <span>3.Preguntas</span>
                            </div>
                        </div>
                    </div>
                    <!-- END Step Info -->
                    <div class="block">
                        <div class="block-title themed-background">
                            <h4 style="color: #ffffff;"><strong>Agrega los usuarios que responderán esta evaluación</strong></h4>
                        </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <span class="text-info"><i class="fa fa-info-circle"></i> Debes elegir al menos un perfil junto con un nivel</span>
                                </div>
                            </div>
                            <div class="row">
                                <br>
                                <div class="block-content">
                                    <div id = "div-perfiles" class="col-sm-3">
                                        <select aria-hidden="true" tabindex="-1" id="select-perfil" name="select-perfil" class="select-select2 select2-hidden-accessible" style="width: 100%;" data-placeholder="Selecciona un perfil...">
                                            <option></option><!-- Required for data-placeholder attribute to work with Select2 plugin -->
                                            <option value="18">Profesor</option>
                                            <option value="19">Director</option>
                                            <option value="26">Administrador</option>
                                        </select>
                                    </div>
                                    <div id = "div-niveles" class="col-sm-3">
                                        <select aria-hidden="true" tabindex="-1" id="select-nivel" name="select-nivel" class="select-select2 select2-hidden-accessible" style="width: 100%;" data-placeholder="Selecciona un nivel...">
                                            <option></option><!-- Required for data-placeholder attribute to work with Select2 plugin -->
                                            <option value="16">Preescolar</option>
                                            <option value="17">Primaria</option>
                                            <option value="18">Secundaria</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <a id="btn_add_profile" class="btn btn-sm btn-success">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                    <div id="perf-niv-agregados" class="col-sm-4">
                                        <div class="block" style="text-align: center;">
                                            <div class="block-title themed-background">
                                                <div class="block-options pull-right">
                                                    <a id="borraPregunta" href="javascript:void(0)" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></a>
                                                </div>
                                            </div>
                                            <p>Profesor de Secundaria</p>

                                        </div>
                                        <div class="block" style="text-align: center;">
                                            <div class="block-title themed-background">
                                                <div class="block-options pull-right">
                                                    <a href="javascript:void(0)" class="btn btn-danger btn-xs" data-toggle="block-toggle-content"><i class="fa fa-times"></i></a>
                                                </div>
                                            </div>
                                            <p>Profesor de Primaria</p>
                                            <div class="form-group" hidden>
                                                <input type="text" id="eval[perfiles][19][]" name="eval[perfiles][p0]" class="form-control" value="19,20">
                                            </div>
                                            <div class="form-group" hidden>
                                                <input type="text" id="eval[perfiles][p0]" name="eval[perfiles][p0]" class="form-control" value="19,20">
                                            </div>
                                        </div>
                                    </div>
                                    <div id="profiles" hidden>
                                        <div class="form-group" hidden>
                                            <div class="checkbox">
                                                <input type="checkbox" id="eval[profiles][17][18]" value="[17][18]" name="eval[profiles][17][18]">
                                            </div>
                                        </div>
                                        <div class="form-group" hidden>
                                            <div class="checkbox">
                                                <input type="checkbox" id="eval[profiles][17][18]" value="[17][18]" name="eval[profiles][17][18]">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <!-- END Second Step -->

                <!-- Third Step -->
                <div id="advanced-third" class="step">
                    <!-- Step Info -->
                    <div class="wizard-steps">
                        <div class="row">
                            <div class="col-xs-4 done">
                                <span>1.Evaluación</span>
                            </div>
                            <div class="col-xs-4 done">
                                <span>2.Perfiles</span>
                            </div>
                            <div class="col-xs-4 active">
                                <span>3.Preguntas</span>
                            </div>
                        </div>
                    </div>
                    <!-- END Step Info -->
                    <div class="block">
                    <div class="block-title themed-background">
                        <h4 style="color: #ffffff;"><strong>Agrega los reactivos para esta nueva evaluación</strong></h4>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <span class="text-info"><i class="fa fa-info-circle"></i> Debes agregar al menos un reactivo a esta evaluación</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="block-content">
                            <div id = "div-agrega-pregunta" class="col-sm-4">
                                <input id="pregunta" name="pregunta" class="form-control input-typeahead" autocomplete="on" placeholder="Escribe una pregunta..." type="text">
                            </div>
                            <div id = "div-categoria" class="col-sm-2">
                                <select aria-hidden="true" tabindex="-1" id="select-categoria" name="select-categoria" class="select-select2 select2-hidden-accessible" style="width: 100%;" data-placeholder="Categoría..">
                                    <option></option><!-- Required for data-placeholder attribute to work with Select2 plugin -->
                                    <option value="0">Digital</option>
                                    <option value="1">DDPA</option>
                                    <option value="2">Lexium</option>
                                    <option value="3">Avalia</option>
                                    <option value="4">TOEFL</option>
                                </select>
                            </div>
                            <div id = "div-btn-agregar" class="col-sm-2">
                                <button id="btn_add_category" class="btn btn-sm btn-success">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div id = "div-agregadas" class="col-sm-4">
                                <div class="block" style="text-align: center;">
                                    <div class="block-title themed-background">
                                        <div class="block-options pull-right">
                                            <a href="javascript:void(0)" class="btn btn-danger btn-xs" data-toggle="block-toggle-content"><i class="fa fa-times"></i></a>
                                        </div>
                                    </div>
                                    <p>Pregunta de ejemplo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Third Step -->

                <!-- Form Buttons -->
                <div class="form-group form-actions">
                    <div class="col-lg-12" style="text-align: center">
                        <input type="reset" class="btn btn-sm btn-primary" id="back2" value="Atras">
                        <input type="submit" class="btn btn-sm btn-success" id="next2" value="Siguiente">
                    </div>
                </div>
                <!-- END Form Buttons -->
            </form>
            <!-- END Wizard with Validation Content -->
        </div>
        <!-- END Wizard with Validation Block -->
</div>

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- <script src="https://staticmx.unoi.com/global/js/pages/formsWizard.js"></script> -->
    <script src="{{ asset('public/assets/js/create_wizard.js') }}"></script>
    <script>$(function(){ CrearWizard.init(); });</script>

{% endblock %}