{% extends 'base.html.twig' %}


{% block body %}
<div class="row text-center">
    <h1 id="surveyName" class="text-center">{{ title }}</h1>
    <h2 class="text-center">{{ message }}</h2>
    <hr>
    <a href="{{ path('listar') }}" class="btn btn-primary btn-lg">Regresar a Inicio</a>

</div>
{% endblock %}
