{% extends '::base.html.twig' %}
{% block body %}

    <div id="page-content">
        <!-- Blocks - Grid Header -->
        <div class="content-header">
            <div class="header-section">
                <h1>
                    <i class="gi gi-show_big_thumbnails"></i>{{ title }}<br><small>Respondida el {{ date }}</small>
                </h1>
            </div>
        </div>
        <!-- END Blocks - Grid Header -->

        <!-- Block -->
        <div class="block">
            <!-- Block Title -->
            <div class="block-title">
                <h2><strong>Example</strong> Title</h2>
            </div>
            <!-- END Block Title -->

            <!-- Block Content -->
            <p>Example content..</p>
            <!-- END Block Content -->
        </div>
    </div>

{% endblock %}