{% extends 'base.html.twig' %}
{% block body %}
    <div id="page-content">
        <div class="content-header content-header-media">
            <div class="header-section" style="height: 185px;">
                <h1>
                    <i class="fa fa-question-circle"></i>
                    <strong>Centro de ayuda</strong>
                    <br/><small>Aprende a utilizar tu plataforma</small>
                </h1>
            </div>
            <img src="{{ asset('public/assets/images/login/bgbanner.png') }}" alt="header image" class="animation-pulseSlow" style="height: 180px;">
        </div>
        <div class="block block-alt-noborder">
            <!-- FAQ Content -->
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <h3 class="sub-header"><strong>Temas de ayuda</strong><br><small><em>Selecciona un tema para ver un videotutorial</em></small></h3>
                    <div id="faq1" class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                    <a class="panel-title accordion-toggle" data-toggle="collapse" data-parent="#faq1" href="#faq1_q1"><h4><i class="fa fa-book text-info"></i> <b>Conoce tu plataforma</b></h4></a>
                            </div>
                            <div id="faq1_q1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p class="remove-margin">
                                        <iframe src="//fast.wistia.net/embed/iframe/6koqzb4fo0?videoFoam=true"
                                                allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed"
                                                name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen
                                                oallowfullscreen msallowfullscreen width="640" height="360">
                                        </iframe>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="panel-title accordion-toggle" data-toggle="collapse" data-parent="#faq1" href="#faq1_q2"><h4><i class="fa fa-list-ol text-info"></i> <b>Mis evaluaciones</b></h4></a>
                            </div>
                            <div id="faq1_q2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p class="remove-margin">
                                        <iframe src="//fast.wistia.net/embed/iframe/otiwqs8hs7?videoFoam=true"
                                                allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed"
                                                name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen
                                                oallowfullscreen msallowfullscreen width="640" height="360">
                                        </iframe>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="panel-title accordion-toggle" data-toggle="collapse" data-parent="#faq1" href="#faq1_q3"><h4><i class="fa fa-pencil text-info"></i> <b>Responder mis evaluaciones</b></h4></a>
                            </div>
                            <div id="faq1_q3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p class="remove-margin">
                                        <iframe src="//fast.wistia.net/embed/iframe/6hj4w2lorl?videoFoam=true"
                                                allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed"
                                                name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen
                                                oallowfullscreen msallowfullscreen width="640" height="360">
                                        </iframe>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="panel-title accordion-toggle" data-toggle="collapse" data-parent="#faq1" href="#faq1_q4"><h4><i class="fa fa-newspaper-o text-info"></i> <b>Resumen de mis evaluaciones</b></h4></a>
                            </div>
                            <div id="faq1_q4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p class="remove-margin">
                                        <iframe src="//fast.wistia.net/embed/iframe/ribil6hz2v?videoFoam=true"
                                                allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed"
                                                name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen
                                                oallowfullscreen msallowfullscreen width="640" height="360">
                                        </iframe>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="panel-title accordion-toggle" data-toggle="collapse" data-parent="#faq1" href="#faq1_q5"><h4><i class="fa fa-pie-chart text-info"></i> <b>Estadísticas (Para directores)</b></h4></a>
                            </div>
                            <div id="faq1_q5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p class="remove-margin">
                                        <iframe src="//fast.wistia.net/embed/iframe/055a0fwlon?videoFoam=true"
                                                allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed"
                                                name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen
                                                oallowfullscreen msallowfullscreen width="640" height="360">
                                        </iframe>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="panel-title accordion-toggle" data-toggle="collapse" data-parent="#faq1" href="#faq1_q6"><h4><i class="fa fa-user text-info"></i> <b>Estadísticas por persona (Para directores)</b></h4></a>
                            </div>
                            <div id="faq1_q6" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p class="remove-margin">
                                        <iframe src="//fast.wistia.net/embed/iframe/0wnphxmmfl?videoFoam=true"
                                                allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed"
                                                name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen
                                                oallowfullscreen msallowfullscreen width="640" height="360">
                                        </iframe>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="panel-title accordion-toggle" data-toggle="collapse" data-parent="#faq1" href="#faq1_q7"><h4><i class="fa fa-search text-info"></i> <b>Filtros de búsqueda</b></h4></a>
                            </div>
                            <div id="faq1_q7" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p class="remove-margin">
                                        <iframe src="//fast.wistia.net/embed/iframe/xhay1ki6g5?videoFoam=true"
                                                allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed"
                                                name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen
                                                oallowfullscreen msallowfullscreen width="640" height="360">
                                        </iframe>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END FAQ Content -->
        </div>
    </div>
    <script src="{{ asset('public/assets/js/jquery-1.11.3.min.js') }}"></script>
    <script src="//fast.wistia.net/assets/external/iframe-api-v1.js"></script>

{% endblock %}